.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainContainer{
  display: grid;
  /* grid-template-columns: repeat(11,1fr);
  grid-template-rows: repeat(10,1fr); */
  /* width: 100px; */
  /* gri-column: 5/11; */
  filter: blur(4px);



}
.mainContainer p{
  /* color: white; */
}

.backgroundImage{
  /* background-image: url("./fabian-grohs-PuxTq4DwUHE-unsplash.jpg"); */
  /* background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg"); */
  height: 50vh;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  background-size: contain;

}
.mainContainer h1{
  /* grid-column: 3/11;
  grid-row: 1;
  text-align: center; */
  /* width: max-content; */
  
}
.AboutMe h1,.Education h1,.Projects h1,.Resume h1,.ContactMe h1,.Skills h1,h2{
  text-align: center; 

}
.Education h1{
  position: relative;
  /* left: 5%; */
}
.AboutMe{
  /* grid-column: 5/11;
  grid-row:2; */
  /* width: inherit; */
}
.Education{
  grid-column: 1/11;
  grid-row: 1;
 
}
.Skills{
  grid-column: 5/11;
  grid-row:4;
  /* text-align: center; */
}
.Projects{
  /* grid-column: 9/11;
  grid-row:5; */
  /* border: 1px solid; */
  /* width: inherit; */
  
  

}

/* .projectBorder{
  border: 1px solid;
} */

/* .Project1{
  position: relative;
  
  width: 200px;

}
.Project2{
  position:relative;
  width: 200px;
}



.Project3{
  position: relative;
  width:200px
} */
.Resume{
  /* grid-column:5/11 ;
  grid-row: 6; */
  text-align: center;
}
.sideBarLeft{
  /* border: solid; */
  grid-row:1/21;
  /* grid-column: 1/2; */
  list-style-type: none;
  padding: 30px;
  border-right: solid;
  /* border-bottom: solid; */
  min-height: 100vh;
  width: max-content;
}
.ContactMe{
  /* grid-column: 5/11;
  grid-row: 7; */
  text-align: center;
}
.mainContent{
  grid-row: 1; 
  grid-column: 2/11;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  }
.Education a{
  text-align: center;
  color: red;
}

.card{
  position: relative;
  left: 1%;
}
.Education .card{
  /* position: relative; */
  /* left: 5%; */
  /* width: 50px; */
}
.skillBadges{
  text-align: center;
}
.AboutMe p{
  padding: 30px;
}
