.bg {
    background-image: url("/chris-ried-ieic5Tq8YMk-unsplash.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  
  .AboutMe h1,
  .Education h1,
  .Projects h1,
  .Resume h1,
  .ContactMe h1,
  .Skills h1,
  h2 {
    text-align: center; }
  
  .Education h1 {
    position: relative;
    /* left: 5%; */ }
  
  .aboutMeBg {
    /* background-image: url("/safar-safarov-MSN8TFhJ0is-unsplash.jpg"); */
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  
  .AboutMe {
    color: #353535;
    width: 500px;
    height: 100px;
    font-size: large;
    font-weight: 300; }
  
  .aboutMePic img {
    width: auto;
    height: auto;
    border-radius: 50%;
    /* position: relative;
    left: 50%;
    top: 20%; */
    box-shadow: 0 8px 6px -6px black; }
  
  .img-fluid {
    width: auto;
    margin: auto;
    object-fit: contain;
    max-height: auto; }
  
  .aboutMeBtn {
    display: block;
    text-align: center;
    box-sizing: border-box; }
  
  .col-sm {
    width: 300px; }
  
  .Projects {
    padding: 10%; }
  
  .mainContent {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #80A1C1; }
  
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover; }
  
  .Education a {
    text-align: center;
    color: red; }
  
  .card {
    position: relative;
    left: 1%; }
  
  .Education .card {
    /* position: relative; */
    /* left: 5%; */
    /* width: 50px; */ }
  
  .skillBadges {
    text-align: center; }
  
  .AboutMe p {
    padding: 30px; }
  
  .splashPage {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  
  .splashText {
    /* animation-delay: 10s; */
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em;
    /* Adjust as needed */
    animation: typing 6.5s steps(100, end), blink-caret 0.75s step-end infinite; }
  
  /* The typing effect */
  @keyframes typing {
    from {
      width: 0; }
    to {
      width: 100%; } }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent; }
    50% {
      border-color: orange; } }
  
  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0); }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1; } }
  
  @-webkit-keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0); }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1; } }
  
  .animated {
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both; }
  
  .animatedFadeInUp {
    opacity: 0; }
  
  .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp; }
  
  .entryBtn {
    border: 2px solid black;
    background-color: transparent;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    position: relative;
    /* left: 45%; */ }
  
  .default {
    border-color: #e7e7e7;
    color: white;
    /* left: 45%; */ }
  
  .default:hover {
    background: #e7e7e7;
    color: #282c34; }
  
  .splashTextContainer {
    position: relative;
    top: 30%;
    text-align: center;
    color: white;
    font-size: 40px; }
  
  html,body {
    background-color: #80A1C1;
    min-height: 100vh;
margin: 0; }
    
  
  #lab_social_icon_footer {
    padding: 40px 0;
    background-color: #dedede;
    width: 100%; }
  
  #lab_social_icon_footer a {
    color: #333; }
  
  #lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1); }
  
  #lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s; }
  
  /*
      Multicoloured Hover Variations
  */
  #lab_social_icon_footer #social-fb:hover {
    color: #3B5998; }
  
  #lab_social_icon_footer #social-tw:hover {
    color: #4099FF; }
  
  #lab_social_icon_footer #social-gp:hover {
    color: #d34836; }
  
  #lab_social_icon_footer #social-em:hover {
    color: #f39c12; }
  
  /** fadeInLeft **/
  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translatex(-10px);
      -moz-transform: translatex(-10px);
      -o-transform: translatex(-10px);
      transform: translatex(-10px); }
    to {
      opacity: 1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0); } }
  
  @-moz-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translatex(-10px);
      -moz-transform: translatex(-10px);
      -o-transform: translatex(-10px);
      transform: translatex(-10px); }
    to {
      opacity: 1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0); } }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translatex(-100px);
      -moz-transform: translatex(-100px);
      -o-transform: translatex(-100px);
      transform: translatex(-100px); }
    to {
      opacity: 1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0); } }
  
  .in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration: 1s;
    animation-delay: 1s; }
  
  .row {
    width: 100%; }
  
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
    /* height: 100vh; */ }
  
  .no-padding {
    padding: 0 !important; }
  
    .Experience{
      min-height: 100vh;
    }

    .Resume{
        text-align: center;
        min-height: 100vh;

    }

    .ContactMe{
      min-height: 100vh;
    }